
@{
    ViewBag.Title = "Login";

}

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #ecf0f5;
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-8 center_div">
            <div class="admin_login text-center">
                <h3 class="login_title">Login to your account</h3>
                <div class="col-xs-12 col-sm-12">
                    <form name="loginForm" id="loginform" method="post" action="/Login">
                        <div class="emailinput mb-3">
                            <input type="text" class="form-control email" name="username" placeholder="Username" required>
                        </div>
                        <div class="pwdMask mb-3">
                            <input type="password" class="form-control password" name="password" placeholder="Password" required>
                        </div>
                        <div class="row remember-row">
                            <div class="col-xs-12 col-sm-12 text-left">
                                <label class="checkbox ">
                                    <input type="checkbox" value="remember-me" style="margin-right: 5px;"><span class="label-text">Remember me</span>
                                </label>
                            </div>
                        </div> <!-- ./remember-row -->
                        <div class="form-group mt-3">
                            <button class="btn btn-lg butten btn-block" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Login Section End-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
